.CounterControl {
    width: 150px;
    padding: 20px;
    box-sizing: border-box;
    margin: 16px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px #aaa;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}

.CounterControl:hover,
.CounterControl:active {
    background-color: #ddd;
}